.App {
  text-align: center;
  position: relative;
  z-index: 1;
}

.App-header {
  
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
 font-family: 'Pacifico', cursive;
 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.star-rating {
  font-size: 25px;
  color: rgb(255, 217, 0);
}
.App:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image:url('./bg.jpg') ;  
  background-size: cover;

  opacity: 0.5;
}
.title{
  font-size: 17px;
  font-weight: bolder;
  padding: 5px;
  color: rgb(255, 217, 0);
  font-family: 'Nanum Gothic', sans-serif;
}
.paragraph {
  font-size: 12px;
  padding: 5px;
  color: #3da4ab ;
  
}